@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1>About</h1>
    <br />
</div>
<div class="about-text">
    <p>
        The Library Management System is an ASP.NET Core MVC application developed to efficiently manage book and author operations within a library. This project is designed based on modern software development methodologies and Object-Oriented Programming (OOP) principles.
    </p>
    <p>
        The application facilitates the detailed management of books and authors. Users can view book and author information, add new records, edit existing ones, or delete them. All these operations are supported by a user-friendly interface and delivered in a feature-rich structure.
    </p>
    <p>The Library Management System aims to simplify library management through a sustainable software architecture, dynamic ViewModels, comprehensive Controller configurations, and elegant View designs.</p>
</div>

<style>
    .about-text {
        max-width: 600px;
        margin: 0 auto;
        text-align: justify;
    }
    .about-text p {
        margin-bottom: 20px;
    }
</style>